.main_img {
    width: 200px;
    height: 250px;
    border-radius: 10px;   
}

.main-contents {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.main-contents_content {
    display: flex;
    align-items: center;
}

.main-contents_title {
    margin-bottom: 20px;
}
    

.main-content:first-child {
    display: flex;
    flex-direction: column;
}

.main-content {
    margin: 0px 30px;
    margin-bottom: 18px;
    display: flex;
}

.main-stars {
  font-size: 20px;
  display: flex;
}

button {
    font-size: 23px;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    margin-right: 15px;
}

button.booknow {
    background-color: black;
    color: white;
}

h2 {
    font-size: 35px;
    font-weight: 600;
}

.book_title {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;    
}

.book_author {
    font-size: 20px;
    font-weight: 500;
    opacity: 0.6;
}

.fa-star:not(last-child) {
    color: var(--main-color);
}

.fa-star:last-child {
    color: rgb(231, 229, 229);
}

.bookmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 17px;
    background-color: var(--main-color);
    border-radius: 50%;
    margin-right: 35px;
}

.main-stars i {
    margin: 0px 1px;
}

.main_img_sm {
    width: 150px;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.main-stars_sm {
    display: flex;
    font-size: 15px;
    justify-content: center;
}

.main-contents_column-books {
    margin-right: 40px;
}

.popular_author-text {
    font-size: 20px; 
    line-height: 25px;  
}

.main-content_booknow {
    margin-top: 30px;
    align-items : center;
}

.main-contents_content-overflow {
    overflow-x: scroll;
}

.main-content:last-child {
    margin-bottom: 0px;
}
