@import "variables.css";
@import "reset.css";
@import "components.css";

* {
    box-sizing: border-box;
}


body {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.main-screen{
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
}

.main-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
}

header {
    height: 130px;
    background-color: var(--main-color);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
}

.searchbar {
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 20px 30px;
    border-radius: 35px;
    width: 95%;
    box-shadow: 5px 5px 2px rgb(211, 210, 210);
}

.searchbar::placeholder {
    color: rgba(0, 0, 0, 0.2);
}


.main-search_icon {
    position: absolute;
    right: 6%;
    opacity: 0.2;
    font-size: 25px;
}
